.myBg {
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../assets/image/bg/rows-red-seats-theater.jpg);
  background-size: cover;
}

.intro {
  height: 300px;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 2px 2px black;
  text-align: center;
  line-height: 1;
  letter-spacing: 4px;
}

.trending {
  height: auto;
  background: url(../assets/image/bg/bg-trending.jpg);
  background-size: cover;
}

.cardTrending {
  width: 300px;
}

.action {
  height: auto;
  background: url(../assets/image/bg/bg-superhero.jpg);
  background-size: cover;
}

.footer {
  background-color: #171717;
}

.line-page {
  height: 10px;
  background: #171717;
  color: #171717;
  margin: 0;
  padding: 0;
  opacity: 0.9;
}

.imageCard {
  width: 400px;
  height: 400px;
}

.titleCard.card-title {
  font-size: 1rem;
  font-weight: 800;
}

.textCard {
  font-size: 0.9rem;
}

.cardBody {
  height: 170px;
}

#navbarScrollingDropdown::after {
  content: none;
}
